.dark {
  $primaryColor: white;
  $secondaryColor: black;
  $darkModeColor: yellow;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.desc3{
  display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.desc5{
  display: -webkit-box;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.desc7{
  display: -webkit-box;
    line-clamp: 7;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  width: 150px;
  height: 50px;
  border: 1px solid $backgroundColor;
  background: $backgroundColor;
  color: $secondaryColor;
  transition: 0.4s;
  font-weight: 700;
}

.btn:hover{
  background: $secondaryColor;
  color: $hoverColor;
}

@media(max-width:700px){
  .btn{
    width: 120px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
  }
}

@media(max-width:300px){
  .nav__btn{
    display: none;
  }
}

.back-top {
  position: fixed;
  width: 40px;
  height: 40px;
  font-size: 25px;
  bottom: 20px;
  right: 20px;
  background: $backgroundColor;
  border-radius: 50%;
  color: $secondaryColor;
  display: none;
  justify-content: center;
  align-items: center;
}


.show__back-top {
  display: flex;
}

