#hero {
  padding: 100px 0px 150px 0px;
  background: url(../images/hero-bcg.svg) no-repeat center;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
  width: 50%;
}

@media (max-width: 750px) {
  .hero__left {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .hero__left {
    width: 100%;
  }
}

.istoriya__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background: $secondaryColor;
  padding: 60px 30px;
  width: 30%;
  align-items: center;
  margin-top: -100px;
  box-shadow: 0px 0px 10px $secondaryHoverColor;
}

.istoriya__cards {
  display: flex;
  justify-content: space-between;
}

.istoriya__left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.istoriya__right {
  width: 45%;
}

.istoriya__bottom {
  padding: 80px 0px;
}

.ranks {
  gap: 50px;
}

@media (max-width: 1200px) {
  .istoriya__cards {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 80px 0px;
  }
  .istoriya__card {
    width: 45%;
    margin: 0;
  }
  .istoriya__bottom {
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
  }
  .istoriya__left,
  .istoriya__right {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .istoriya__card {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .istoriya__card {
    width: 100%;
  }
}

.zakaz {
  padding: 80px 30px;
  background: url(../images/bck-2.svg) no-repeat center 100%;
}

.zakaz__left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.zakaz__right {
  width: 30%;
  text-align: center;
}

@media (max-width: 1030px) {
  .zakaz {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 30px 20px;
  }
  .zakaz__right,
  .zakaz__left {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .zakaz__right,
  .zakaz__left {
    width: 100%;
  }
}

.blyuda {
  background: url(../images/blyuda.svg);
  padding: 100px 0px;
}

.blyuda__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.blyuda__card {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background: $secondaryColor;
}

@media (max-width: 1000px) {
  .blyuda__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.nikolay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 80px 0px;
}

.blyud {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 80px 0px;
}

.blyud__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.blyud--1 {
  grid-row: 1/2;
  grid-column: 1/3;
}

.blyud--2 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.blyud--3 {
  grid-row: 1/2;
  grid-column: 4/5;
}

.blyud--4 {
  grid-row: 2/3;
  grid-column: 1/2;
}

.blyud--5 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.blyud--6 {
  grid-row: 2/3;
  grid-column: 3/5;
}

@media (max-width: 750px) {
  .blyud--1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .blyud--2 {
    grid-row: 2/3;
   grid-column: 1/2;
  }
  .blyud--3 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .blyud--4 {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .blyud--5 {
    grid-row: 5/6;
    grid-column: 1/2;
  }

  .blyud--6 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .blyud__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

.povara {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0px;
  gap: 50px;
}

.povars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.povars img {
  width: 100%;
}

@media (max-width: 750px) {
  .povars {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

