$primaryColor: black;
$secondaryColor: white;
$backgroundColor: #ff7400;
$hoverColor: #ff7400;
$darkModeColor: black;
$secondaryHoverColor: #656363;

h1 {
  font-size: 55px;
  color: $hoverColor;
}
h2 {
  font-size: 40px;
  color: $hoverColor;
}
h3 {
  font-size: 22px;
  color: $primaryColor;
}
p {
  font-size: 15px;
  color: $secondaryHoverColor;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .btn {
    width: 130px;
    height: 40px;
    font-weight: 600;
  }
}

@media (max-width: 786px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .btn {
    width: 110px;
    height: 35px;
    font-weight: 400;
  }
}

@media (max-width: 512px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  .btn {
    width: 100px;
    height: 30px;
    font-weight: 400;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 11px;
  }
  .btn {
    width: 80px;
    height: 20px;
    font-weight: 300;
  }
}
